body {
    background-image: url("https://www.fg-a.com/wallpapers/white-marble-4-2018.jpg");
}

.container {
    background-color: white;
    margin-top: 70px;
    margin-right: 200px;
    margin-left: 20px;
    margin-bottom: 200px;
}

.fixed-bottom {
    background: gray;
    border-top: rgb(24, 168, 154) solid 5px;
    margin-top: 20px;
}

.img-fluid {
    max-width:75%;
    height: auto;
    margin-left: 60px;
    margin-top: 60px;
}

h4 {
    text-align: center;
    opacity: 0.2;
}

h1 {
    color: rgb(24, 168, 154);
    font-weight: bold;
}

#name {
    background-color: rgb(24, 168, 154);
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}


.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.car-text {
    color: black;
}

.carousel-indicators .active{
    background-color: #18a89a;
}
.carousel-indicators li {
    background-color: gray;
}

.port-cont {
    background-color: white;
    width: 1100px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    
}