body {
    background-image: url("https://images.squarespace-cdn.com/content/v1/5409fc7ce4b098a72ea90524/1421938998019-P1QIDYV3HH83HSJFSENN/ke17ZwdGBToddI8pDm48kBsFcijGWdq2267XkzEHJ44UqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKcK_gr_W-IQdwM5OUWBIekzNsgyZlhhNhfUyeza3PJEcfUsx73s2r_QMBx8ADYZbpa/Twitter-Background.png?format=2500w");
}

.container {
    background-color: white;
    margin-top: 30px;
}

.fixed-bottom {
    background: gray;
    border-top: rgb(24, 168, 154) solid 5px;
    margin-top: 40px;
    width: 50%;
}

.img-fluid {
    max-width:20%;
    max-height: 50%;
    border-radius: 100%;
    display: inline;
    vertical-align: text-bottom;
    opacity: 0.85;
    
}

.me {
    display: inline;
    text-align: center;
    color: rgb(226, 231, 231);
    font-style: oblique;
    text-decoration: underline;
}

h4 {
    text-align: center;
    opacity: 0.2;
}

h1 {
    color: rgb(24, 168, 154);
    font-weight: bold;
}

#name {
    background-color: rgb(230, 66, 45);
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    border-radius: 20px;
    padding: 10px;
}


.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.car-text {
    color: black;
}

.carousel-indicators .active{
    background-color: #18a89a;
}
.carousel-indicators li {
    background-color: gray;
}

.port-cont {
    background-color: white;
    width: 1100px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    
}

.nav-item :hover {
    background-color: rgb(230, 66, 45) !important;
    border-radius: 15px;
    color: white !important;
}

.carousel-caption {
    background-color: white;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.contact {
    color: #212529;
    font-weight: bold;
}

.active {
    background-color: #212529!important;
}

.container-contact {
    background-color: rgb(226, 231, 231);
    margin-top: 60px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;

}

.index {
    padding: 20px;
    background-color: rgb(235, 68, 68);
    border-radius: 25px;
    
}
.info {
    margin-top: 20px;
    margin-left: 20px;
    color: rgb(226, 231, 231);
}

.info2 {
    margin-left: 20px;
    color: rgb(226, 231, 231);
}